@import "./../../styles/utilities";

.product-modal {
  width: 100%;
  height: 100%;
  display: flex;

  &-img-container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &-aside {
    background-color: white;
    width: 25%;
    display: flex;
    align-items: center;

    &-container {
      margin: baseUnit(4);
    }

    &-title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $borderColor;
      padding-bottom: baseUnit(2);
    }

    &-description {
      margin-top: baseUnit(2.5);
      display: block;
      margin-bottom: baseUnit(5);
      font-size: 14px;
      line-height: 17px;
    }

    &-code {
      display: block;
      border-top: 1px solid $borderColor;
      padding-top: baseUnit(1);
      margin-bottom: baseUnit(1);
    }
  }
}
