@import "./../../styles/utilities";

.quantity-count {
  font-size: 20px;
  line-height: 25px;
  padding: 0 baseUnit(1);
  height: 40px;
  border: none;
  background: transparent;
  color: $primaryColor;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.quantity-amount {
  width: 40px;
  height: 40px;
  border: 2px solid $grey;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}
