@import "./../../styles/utilities";

.button {
  margin-top: baseUnit(3);
  padding-top: baseUnit(2);
  padding-bottom: baseUnit(2);
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;

  &.primary {
    background: $primaryColor;
    color: white;
  }
}
