// spacing
$baseSpace: 8px;

// colors
$primaryColor: #00a0de;
$secondaryColor: #a6a7b3;
$primaryDarkColor: #34344f;
$secondaryDarkColor: #717285;
$grey: #dbdbe0;
$plainGrey: #ccc;
$borderColor: rgba(33, 34, 64, 0.16);
$backgroundSecondaryColor: #f3f3f3;
