.app {
  background-image: url("./../../assets/background.png");
  height: 100vh;
  background-position: top left;
  background-size: cover;

  &-container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1088px;
    max-height: 648px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    border-radius: 4px;
    background-color: white;
    transform: translate(-50%, -50%);
  }
}
