@import "./../../styles/utilities";

.col-product {
  width: 45%;

  &-image {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    img {
      margin-right: baseUnit(2);
      width: 72px;
      height: 72px;
      border: 1px solid $plainGrey;
      border-radius: 4px;
    }

    &-details-available {
      cursor: pointer;
    }
  }
}

.col-quantity,
.col-price,
.col-total {
  justify-content: center;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}
