@import "./../../styles/utilities";

.modal {
  border: 1px solid $plainGrey;
  transition: 1.1s ease-out;
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  max-width: 1088px;
  max-height: 648px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  overflow: hidden;

  &-content {
    width: 100%;
  }

  &-toggle-button {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 96%;
    background-color: transparent;
    color: grey;
  }
}
