@import "../../styles/utilities";

.cart {
  padding: baseUnit(5) baseUnit(4) baseUnit(5) baseUnit(7);
  flex: 1 1;

  &-title {
    padding-bottom: 16px;
    border-bottom: 1px solid $borderColor;
  }

  &-table-head {
    position: relative;
    width: 100%;
    padding: baseUnit(4) 0;
  }

  &-products {
    position: relative;
    width: 100%;
  }

  [class*="cart-col-"] {
    display: flex;
    align-items: center;
  }

  li {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  li:nth-child(n + 2) {
    margin-top: baseUnit(4);
  }

  &-col-product {
    width: 45%;
  }

  &-col-quantity,
  &-col-price,
  &-col-total {
    justify-content: center;
  }

  &-col-quantity {
    width: 20%;
  }

  &-col-price {
    width: 20%;
  }

  &-col-total {
    width: 15%;
  }
}
