@import "../../styles/utilities";

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: baseUnit(5) baseUnit(4);
  width: 312px;
  background-color: $backgroundSecondaryColor;

  &-title {
    padding-bottom: baseUnit(2);
    border-bottom: 1px solid $borderColor;
  }

  &-items {
    border-bottom: 1px solid $borderColor;
    width: 100%;
    padding: baseUnit(4) 0;

    li {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &-discounts {
    border-bottom: 1px solid $borderColor;
    width: 100%;
    padding: 24px 0;

    ul {
      margin-top: baseUnit(2);
    }

    li {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 17px;
      margin-top: baseUnit(2);
    }

    .price,
    .price-currency {
      font-size: 14px;
    }
  }

  &-total {
    align-self: flex-end;
    margin-top: auto;
    padding-top: baseUnit(2);
    padding-bottom: 0;
    border-top: 1px solid $borderColor;
    width: 100%;

    li {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 17px;
    }

    &-cost {
      flex-basis: 100%;
      text-transform: uppercase;
    }

    &-price {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
