@import "./styles/utilities";

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  cursor: pointer;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
  color: $primaryDarkColor;
}

h2 {
  color: $secondaryDarkColor;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

h3 {
  letter-spacing: -0.18px;
  font-size: 16px;
  line-height: 24px;
  color: $primaryColor;
}

p {
  color: $secondaryColor;
  letter-spacing: 0.13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.table-head {
  color: $secondaryColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
  position: relative;
}

.price {
  color: black;
  font-size: 16px;
}

.price-currency {
  margin-left: baseUnit(0.5);
}

[class*="col-"] {
  display: flex;
  align-items: center;
}
